<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="../static/global.css" />
    <link rel="stylesheet" href="../static/alphabets.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap"
    />
  </head>
  <body>
    <div class="alphabets" id="alphabets-div">
      <div class="learn-alphabets-navbar">
        <button class="ellipse-parent1" id="back-btn">
          <a href="{{url_for('learn')}}"><img class="instance-child4" alt="" src="../static/images/ellipse-16.svg" /></a>

          <a href="{{url_for('learn')}}"><img class="instance-child5" alt="" src="../static/images/arrow-16.svg" /></a>
        </button>
        <b class="alphabets1">ALPHABETS</b>
        <a href="{{url_for('index')}}"><img class="logo-icon3" alt="" src="../static/images/logo3@2x.png" /></a>
      </div>
      <div class="alphabet-list">
        <a href="{{url_for('playvideo')}}">
          <button class="a" id="a-btn">
            <div class="a-child"></div>
            <div class="a1">A</div>
          </button>
        </a>
        <a href="{{url_for('playvideo')}}">
          <button class="b" id="b-btn">
            <div class="b1">B</div>
          </button>
        </a>
        <a href="{{url_for('playvideo')}}">
          <button class="c" id="c-btn">
            <div class="c1">C</div>
          </button>
        </a>
        <a href="{{url_for('playvideo')}}">
          <button class="d" id="d-btn">
            <div class="d-child"></div>
            <div class="d1">D</div>
          </button>
        </a>
        <a href="{{url_for('playvideo')}}">
          <button class="e" id="e-btn">
            <div class="e1">E</div>
          </button>
        </a>
        <a href="{{url_for('playvideo')}}">
          <button class="f" id="f-btn">
            <div class="f1">F</div>
          </button>
        </a>
        <a href="{{url_for('playvideo')}}">
          <button class="g" id="g-btn">
            <div class="g1">G</div>
          </button>
        </a>
        <a href="{{url_for('playvideo')}}">
          <button class="h" id="h-btn">
            <div class="h1">H</div>
          </button>
        </a>
        <a href="{{url_for('playvideo')}}">
          <button class="i" id="i-btn">
            <div class="i1">I</div>
          </button>
        </a>
        <a href="{{url_for('playvideo')}}">
          <button class="j" id="j-btn">
            <div class="j1">J</div>
          </button>
        </a>
        <a href="{{url_for('playvideo')}}">
          <button class="k" id="k-btn">
            <div class="p-child" id="rectangle3"></div>
            <div class="k1">K</div>
          </button>
        </a>
        <a href="{{url_for('playvideo')}}">
          <button class="l" id="l-btn">
            <div class="l1">L</div>
          </button>
        </a>
        <a href="{{url_for('playvideo')}}">
          <button class="m" id="m-btn">
            <div class="m1">M</div>
          </button>
        </a>
        <a href="{{url_for('playvideo')}}">
          <button class="n" id="n-btn">
            <div class="p-child" id="rectangle4"></div>
            <div class="n1">N</div>
          </button>
        </a>
        <a href="{{url_for('playvideo')}}">
          <button class="o" id="o-btn">
            <div class="p-child" id="rectangle6"></div>
            <div class="o1">O</div>
          </button>
        </a>
        <a href="{{url_for('playvideo')}}">
          <button class="p" id="p-btn">
            <div class="p-child" id="rectangle2"></div>
            <div class="p1">P</div>
          </button>
        </a>
        <a href="{{url_for('playvideo')}}">
          <button class="q" id="q-btn">
            <div class="q1">Q</div>
          </button>
        </a>
        <a href="{{url_for('playvideo')}}">
          <button class="r" id="r-btn">
            <div class="l1">R</div>
          </button>
        </a>
        <a href="{{url_for('playvideo')}}">
          <button class="s" id="s-btn">
            <div class="s1">S</div>
          </button>
        </a>
        <a href="{{url_for('playvideo')}}">
          <button class="t" id="t-btn">
            <div class="t-child" id="rectangle5"></div>
            <div class="t1">T</div>
          </button>
        </a>
        <a href="{{url_for('playvideo')}}">
          <button class="u" id="u-btn">
            <div class="u1">U</div>
          </button>
        </a>
        <a href="{{url_for('playvideo')}}">
          <button class="v" id="v-btn">
            <div class="v1">V</div>
          </button>
        </a>
        <a href="{{url_for('playvideo')}}">
          <button class="w" id="w-btn">
            <div class="w1">W</div>
          </button>
        </a>
        <a href="{{url_for('playvideo')}}">
          <button class="x" id="x-btn">
            <div class="x1">X</div>
          </button>
        </a>
        <a href="{{url_for('playvideo')}}">
          <button class="y" id="y-btn">
            <div class="y1">Y</div>
          </button>
        </a>
        <a href="{{url_for('playvideo')}}">
          <button class="z" id="z-btn">
            <div class="z1">Z</div>
          </button>
        </a> 
      </div>
    </div>

    
  </body>
</html>
