<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="../static/global.css" />
    <link rel="stylesheet" href="../static/rendering.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap"
    />
  </head>
  <body>
    <div class="rendering" id="rendering-div">
      <div class="detecting-navbar">
        <button class="ellipse-parent" id="back-btn">
          <a href="{{url_for('interpret')}}"><img class="instance-child" alt="" src="../static/images/ellipse-16.svg" /></a>

          <a href="{{url_for('interpret')}}"><img class="instance-item" alt="" src="../static/images/arrow-16.svg" /></a>
        </button>
        <b class="detecting">DETECTING</b>
        <button class="logo" id="goto-main-logo"></button>
      </div>
      <div class="output-area">
        <img id="video" src="{{ url_for('video_feed') }}" width="640" height="480">
        <!-- <div class="gesture-label">{{ sentence }}</div>  -->
      </div>
    </div>


  </body>
</html>
