.selection-navbar-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-darkslateblue);
  width: 1600px;
  height: 132px;
}
.instance-child8,
.instance-child9 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.instance-child9 {
  height: 40.77%;
  width: 58.06%;
  top: 30.73%;
  right: 22.22%;
  bottom: 28.5%;
  left: 19.72%;
}
.ellipse-parent3,
.logo4 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 37.72px;
  left: 88.89px;
  width: 60px;
  height: 54.19px;
}
.logo4 {
  top: 18px;
  left: 1454px;
  width: 90px;
  height: 96.21px;
  background-image: url(../static/images/logo2@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.learn1,
.selection-navbar {
  position: relative;
  width: 1600px;
  height: 132px;
}
.learn1 {
  font-size: var(--font-size-11xl);
  font-weight: 500;
  font-family: var(--font-montserrat);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  width: 116.44px;
  height: 32.32px;
  flex-shrink: 0;
}
.learn-wrapper {
  cursor: pointer;
  border: 0;
  padding: 0 104.96000671386719px;
  background-color: var(--color-darkslateblue);
  border-radius: var(--br-xl);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 328px;
  height: 107.72px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: center;
}
.interpret1 {
  position: relative;
  font-size: var(--font-size-11xl);
  font-weight: 500;
  font-family: var(--font-montserrat);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  width: 205px;
  height: 27px;
  flex-shrink: 0;
}
.interpret-wrapper {
  cursor: pointer;
  border: 0;
  padding: 40.00000762939453px 61px;
  background-color: var(--color-darkslateblue);
  border-radius: var(--br-xl);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 328px;
  height: 107.72px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-end;
}
.choice1,
.selection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.choice1 {
  width: 328px;
  height: 272px;
  gap: var(--gap-37xl);
}
.selection {
  position: relative;
  background-color: var(--color-white);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  gap: 182px;
}
.select {
  top: 47.24px;
  left: 734px;
  display: inline-block;
  width: 162px;
  height: 37.52px;
}
a {
  color: white;
}